.order-main {
  border: 1px solid lightgray;
  /* height: 90vh; */
}
.order {
  /* border: 1px solid brown; */
  width: 70%;
  height: 60vh;
  border-radius: 8px;
}
.order-data {
  border: 1px solid lightgray;
  border-right: none;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  width: 35%;
  background: #fef5e6;
}
.order-detail {
  border: 1px solid lightgray;
  width: 65%;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  background: #ffffff;
  overflow-y: scroll;
}
.order-detail::-webkit-scrollbar {
  display: none;
}

.ordered-product {
  /* border: 1px solid black; */
  border-bottom: 1px solid lightgray;
  height: 15vh;
}
.ordered-product > div:nth-child(1) {
  /* border: 1px solid black; */
  width: 70%;
  height: 100%;
}
.ordered-product > div:nth-child(1) > span:nth-child(1) {
  /* border: 1px solid green; */
  background: #fef5e6;
  border-radius: 8px;
  width:  30%;
}
.ordered-product > div:nth-child(1) > span:nth-child(2) > p {
  font-size: 0.8rem;
}
.ordered-product > div:nth-child(1) > span:nth-child(2) {
  /* border: 1px solid green; */
  width: 65%;
}
.ordered-product > div:nth-child(1) > span:nth-child(1) > img {
  width: 100%;
  height: 100%;  
  object-fit: contain;
}

.ordered-product > div:nth-child(2) {
  /* border: 1px solid black; */
  width: 30%;
  height: 100%;
}
